{% extends 'base.html.twig' %}

{% block title %} Changement mot de passe {% endblock %}

{% block body %}
    {% if errorChange %}
        <div class="alert alert-danger">
            <p>Merci de vérifier le liens dans le mail</p>
        </div>
    {% endif %}
    {% if resetSucces %}
        <div class="alert alert-success">
            <p>Votre mot de passe a bien été modifié</p>
        </div>
    {% endif %}
    <div class="row justify-content-center">
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.password) }}
            {{ form_row(resetForm.password2) }}
        {{ form_end(resetForm) }}
    </div>

{% endblock %}