{% extends 'base.html.twig' %}

{% block title %}Liste des Tricks - Snow Tricks{% endblock %}


{% block body %}
    <style>
        .section {
            height: 80vh;
        }
        #tricks-main {
            margin-top: 30px;
        }
    </style>
    <div class="section" id="tricks-main">
        <div class="row justify-content-center" id="section-tricks">
            <div class="col-3">
                <p>test</p>
            </div>
            <div class="col-3">
                <p>test</p>
            </div>
            <div class="col-3">
                <p>test</p>
            </div>
            <div class="col-3">
                <p>test</p>
            </div>
        </div>
    </div>

{% endblock %}